<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>
</head>
<a href="/">Main Page</a>
<br>
<a href="/task_2">Task 2</a>
<br>
<br>
<body>
Task 1:
For the first part of the project it was decided to compare two families of data analysis methods, 'mean & standard deviation' with 'median & interquartile range (IQR)'. This will give some key insights about the data faced, as well as allow to choose the most appropriate plot type with regards to the spread of the data.
<br>
    *Please refer to appendix for the functions used
</body>
<br>
<br>
<br>
<body>
This is the table produced: {{table}}
</body>
<br>
<br>
<body>
From the table, it is evident that metrics which the project is aimed to focus on, namely: 'Price_Earnings_Ratio', and 'Book Value' are unevenly distributed. The high standard deviation suggests extreme value 'outliers' within the data. To confirm this trend, boxplots will be used in the following task.
</body>
    <br>
    <br>
    <a href="/">Main Page</a>
</html>