<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 7</title>
</head>
<a href="/">Main Page</a>
<body>
<p>This form allows will return a stock market portfolio based on the information you submit</p>
<b>

</b>
<form method="POST">
    <p>Please type in the standard deviation range for PER:</p>
    <input name="PERSTD">
    <p>Please type in the standard deviation range for BV:</p>
    <input name="BVSTD">
    <p>Please type in the sample size:</p>
    <input name="x">
    <input type="submit">
</form>
</body>
</html>