<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
</head>

<a href="/">Main Page</a>
<br>
<a href="/task_1">Task 1</a>
<br>
<br>
<div>
    <body>
    Introduction:
    <br>
    The idea behind my project was to analyze S&P 500 Financial Data from https://www.kaggle.com/paytonfisher/sp-500-companies-with-financial-information to try and create a website which would recommend a stock market porfolio. I was inspired to take up this project by the book: The Intelligent Investor. Algorithms created implement Benjamin Grahams methods as a framework, to design efficient code. The aim of my project is to remove the human effort behind the process of selecting a stock market portfolio.
    </body>
</div>
<br>
<div>
    <body>
    This is the initial data after preprocessing:<br><a href="/data_intro">data</a>
    </body>
</div>
<br>
<div>
    <body>
    This is the initial correlation table of the data:
    {{corr_intro}}
    </body>
</div>
<br>
<div>
    <body>
    -From the initial data, it is evident that there is either weak or no correlation between the data variables.
    <br>
    -During my data preprocessing, I have removed 'Symbol', 'SEC Filings', 'EBITDA', '52 Week High' and 'Lows' because they were irrelevant for my field of study and will not be used throughout the project.
    </body>
    <br>
    <br>
    <a href="/">Main Page</a>
</div>
</html>